/* Hide vscode icon */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-left>.window-appicon {
    display: none !important;
}
/** style(command-palette) add blur underlay */
body:has(.quick-input-widget:not([style*="display: none;"])) .monaco-grid-view {
  filter: blur(var(--al-command-palette-blur-amount, 4px)) brightness(70%) !important;
}

/** style(command-palette) remove blur underlay when color theme selection */
body:has(.quick-input-widget .monaco-list[aria-label*="Select Color Theme"]) .monaco-grid-view,
body:has(.quick-input-widget .monaco-list[aria-label*="Select File Icon"]) .monaco-grid-view {
  filter: initial !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container {
    justify-content: center !important;
}
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit[role="tab"] {
    flex: 1 1 300px !important; 
}
/* center text on tabs */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit .monaco-icon-label>.monaco-icon-label-container {
    text-align: center !important;
}
/* Hide tabs editor buttons*/
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
    display: none !important;
}

/* Hide right layout icons */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-right>.action-toolbar-container .monaco-action-bar .action-item[role="presentation"]{
    display: none !important;
}
.monaco-workbench .part.statusbar>.left-items {
    flex-grow: 0 !important;
    display: none !important;
}
/* Center Right sidebar items */
.monaco-workbench .part.statusbar>.right-items {
    flex-grow: 1 !important;
    justify-content: center !important;
}
/* Hide center toolbar */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    display: none !important;   
}
.monaco-workbench .part>.title>.title-actions .action-label[aria-label*="New File..."],
.monaco-workbench .part>.title>.title-actions .action-label[aria-label*="New Folder..."] {
  display: none !important;
}
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-left>.menubar {
  margin-left: 14px !important;
}